# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# PyCharm
.idea/

# VSCode
.vscode/

# pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store

# Windows
Thumbs.db

# Output
output/

# Logs
*.log